@font-face {
  font-family: "Gilroy"
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff; 
}

a {
  text-decoration: none;
}

.main-header {
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 60px:
  padding-right: 60px;
  width: 1160px;
  min-height: 299px;
  background-color: #f7e296;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-column {
  width: 1040px;
  /*outline: 2px dotted red;*/
}

.header-middle {
  display: flex;
  /*width: 1040px;*/
  justify-content: space-between;
}

.header-logo {
  width: 200px;
  height: 55px;
}

.header-search {
  width: 240px;
  min-height: 35px;
}

.user-list {
  display: flex;
  /*justify-content: space-between;*/
  width: 500px;
  min-height: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.comparison-item {
  margin-left: auto;
}

.cart-item {
  margin-left: 20px;
}

.user-item {
  color: #000000;
}

.header-button {
  display: flex;
  /*justify-content: space-between;*/
  /*width: 1040px;*/
}


.navigation-submenu {
  margin-right: 55px;
  padding: 0px;
}

.catalog-list {
  width: 540px;
  padding: 0px;
  margin-left: 0px;
  list-style: none;
  /*outline: 2px dotted green;*/
}

.catalog-navigation {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  list-style: none;
  /*outline: 2px solid red;*/
}

.navigation-submenu {
  list-style: none;
}

.site-navigation {
  display: flex;
  width: 500px;
  padding: 0;
  list-style: none;
  /*outline: 2px dotted red;*/
}

.contacts-item {
  margin-left: auto;
}

.delivery-item {
  margin-right: 35px;
}

.product-slide {
  display: flex;
  justify-content: space-around;
}

.slide-content {
  width: 500px;
}

.slide-logo {
  order: -1;
}

.slide-header {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 56px;
}

.top-line {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}

.bottom-line {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.site-navigation a,
.user-navigation {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-list a:hover,
.user-list a:focus {
  opacity: 0.6;
}

.site-navigation a:active,
.user-list a:active, {
  opacity: 0.3;
}

.main-header-search {
  opacity: 0.3;
}

.main-header-search form:hover {
  opacity: 0.6;
}

.main-header-search form:focus {
  border: 2px solid #000000;
}

.button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-size: 220px 8px;
  text-transform: uppercase;
  background-color: #f0c52e;
  color: #000000;
}

.button:hover {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-size: 220px 40px;
  text-transform: uppercase;
  background-color: #f0c52e;
  color: #000000; 
}

.button:active {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
  background-size: 220px 40px;
  text-transform: uppercase;
  background-color: #f0c52e;
  color: #000000; 
}

.category-product li {
  list-style: none;
}

.category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.category-item {
  display: block;
  width: 160px;
  min-height: 163px;
  /*outline: 2px solid red;*/
}

.category-item:hover {
  background-color: #f0c52e;
}

.category-item:active {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.services-block {
  display: flex;
  justify-content: space-around;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.services li {
  list-style: none;
}

.services-list {
  margin-right: 100px;
  align-self: baseline;
}

.services-infoblock {
   width: 430px;
   align-self: baseline;
}

.services-list .button:active {
  color: #f7e296; 
  background-color: #000000;
}

.services-header,
.about-header {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
}

.logotypes {
  margin-top: 100px;
  margin-bottom: 100px;
}

.logotypes li {
  list-style: none;
}

.logotypes-list {
  display: flex;
}

.logotype-item {
  margin-right: 100px;
}

.about-us .container {
  display: flex;
}

.about-us .container {
  display: flex;
  justify-content: space-between;
}

.about-info {
  width: 560px;
}

.main-footer {
  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  /*outline: 2px dotted red;*/
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
  /*outline: 2px dotted red;*/
}

.footer-site {
  display: flex;
  justify-content: space-around;
  width: 440px;
  /*outline: 2px dotted green;*/
}

.footer-buttom {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.user-footer {
  display: flex;
  justify-content: flex-end;
  width: 340px;
  /*outline: 2px dotted green;*/
}

.user-footer .user-item {
  margin-right: 0px;
  margin-left: 20px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.footer-buttom::before {
  content: "";
  width: 80px;
  height: 10px;
}

.site-navigation li {
  list-style: none;
}

.social-list li {
  list-style: none;
  margin-right: 20px;
}

.social-button {
  opacity: 0.3;
  color: #000000;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-copyright:hover {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.modal-feedback {
  padding-left: 100px;
  padding-right: 100px;
  width: 960px;
  height: 555px;
}

.main-from {
  display: flex;
  width: 760px;
  justify-content: space-between;
}

input[name="user-name"],
input[name="e-mail"] {
  width: 360px;
}

textarea[name="message-content"] {
  width: 760px;
}

.modal-close {
  opacity: 0.3;
  background-color: #f0c52e;
} 

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.message-form input {
   opacity: 0.5;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.4;
}

::-moz-placeholder { /*Firefox 19+*/
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.4;
}

:-moz-placeholder {  /*Firefox 18- */
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.4;
}

:-ms-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.4;
}

.message-form input:hover {
   opacity: 0.8;
}

.message-form input:focus {
   opacity: 1;
   border: 1px solid #f7e296;
}

.message-form input:invalid {
  opacity: 0.4;
  background-color: #f6dadb;
}

.filter-form {
  background-color: #efefef;
}

.catalog-page input[checkbox]:hover {
  opacity: 0.6;
}

.catalog-page input[radio]:hover {
  opacity: 0.6;
}

.page-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-item {
  margin-right: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
  color: #000000;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.1;
}

.main-wraper { 
  display: flex;
  justify-content: space-around;
}

.sort a {
 font-size: 14px;
 line-height: 18px;
 opacity: 0.3;
 color: #000000;
}

.sort a:hover {
 opacity: 0.6;
}

.sort a:active {
 opacity: 1;
}

.sort {
  display: flex;
}

.sort-list {
  display: flex;
}

.sort-item {
  margin-right: 25px;
}

.catalog-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.catalog-page .catalog-item {
  background-color: #eeeeee;
}

.catalog-page .catalog-item:hover {
  opacity: 0.7;
}

.catalog-item .button {
  width: 200px;
  height: 8px;
}

.catalog-item .button:hover {
  width: 200px;
  height: 8px;
}

.catalog-item .button:active {
  width: 200px;
  height: 8px;
  opacity: 0.3;
}

.catalog-item a {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

.catalog-item a:hover {
  font-size: 14px;
  line-height: 20px;
  opacity: 1;
}

.catalog-item a:active {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.2.
}

.item-name {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.item-price {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.comparison {
  color: #000000;
}

.pagination-block {
  text-transform: uppercase;
  background-color: #ebebeb;
}

.pagination-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  align-items: center;
  opacity: 0.3;
  color: #000000;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {
  opacity: 1;
}

.pagination-block .button-back:hover {
  background-color: #d9d9d9;
}

.pagination-block .button-back:active {
  opacity: 0.3;
}

.pagination-block .button-next:hover {
  background-color: #d9d9d9;
}

.pagination-block .button-next:active {
  opacity: 0.3;
}