@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  src: url('../fonts/gilroyextrabold.woff') format('woff');
  src: url('../fonts/gilroylight.woff2') format('woff2');
  src: url('../fonts/gilroylight.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff; 
}